*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide{
    display: none;
}
.Game{
    width: 100%;
    height: 100vh;
    background: url('https://f0.pngfuel.com/png/637/30/green-trees-and-mountain-illustration-png-clip-art.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.Start-Screen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid teal;
    z-index: 11;
    background: #16a085;
    padding: 1rem 4rem;
    color:black;
    font-weight: bold;
    /* width: 50%; */
    box-shadow: 3px 3px 20px  #2c3e50;
}
.Start-Screen h2{
    margin: 1rem 0;
    color: #bdc3c7;
    cursor: pointer;
}
.Game-Area{
    position: relative;
    width: 400px;
    height: 100vh;
    background: #2c3e50;
    margin: auto;
    border-left: 10px dashed#7f8c8d;
    border-right: 10px dashed#7f8c8d;
}
.lines{
    width: 12px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 190px;
}
.car, .enemyCar{
    position: absolute;
    bottom: 100px;
    width: 60px;
    height: 80px;
    background: teal;
    border-radius: 6px;

}

.Score{
    position: absolute;
    background: #e74c3c;
    width: 200px;
    color: white;
    font-size: 2rem;
}
.Score h1{
    color: #e74c3c ;
     font-weight: bold;
}
